<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appprojet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.homepage.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".ui.event_view.EventViewActivity" />

        <activity
            android:name=".ui.authentication.AuthenticationActivity"
            android:theme="@style/Authentication"/>

        <activity android:name=".ui.event_creation.EventCreationActivity" />

        <activity android:name=".ui.post_view.PostViewActivity" />

        <activity android:name=".ui.post_creation.PostCreationActivity" />

        <activity android:name=".ui.profile.ProfileActivity" />

        <activity android:name=".ui.invitation.InvitationKeyActivity"/>

    </application>


</manifest>